In [1]:
import lang2vec.lang2vec as l2v
import pandas as pd
import numpy as np
from sklearn.impute import KNNImputer
from pyglottolog import Glottolog
from scipy import spatial

In [2]:
languages = ["nld", "eng", "ekk", "fin", "deu", "ell", "heb", "ita", "nor", "rus", "spa", "tur"]
features =  ["syntax_wals", "syntax_sswl", "syntax_ethnologue"]

In [3]:
#URIEL data
df_uriel = pd.DataFrame.from_dict(l2v.get_features(languages, features))
df_uriel = df_uriel.replace("--", np.NaN).dropna(how='all')

imputer = KNNImputer(n_neighbors=5).fit(df_uriel).transform(df_uriel)
# imputer[imputer >= 0.5] = 1
# imputer[imputer < 0.5] = 0

df_uriel = pd.DataFrame(imputer, columns=df_uriel.columns)

nunique_uriel = df_uriel.nunique(axis=1)
df_uriel = df_uriel.drop(nunique_uriel[nunique_uriel == 1].index)

In [4]:
#Glottolog data
glottolog = Glottolog('../data/glottolog-4.6', cache=True)

glottolog_dict = {}
for l in languages:
    print(l)
    languoid = glottolog.languoid(l)
    families = {family:1 for family in [str(f.id) for f in languoid.ancestors]}
    glottolog_dict[l] = families
    
df_glottolog = pd.DataFrame.from_dict(glottolog_dict).fillna(0)

nunique = df_glottolog.nunique(axis=1)
df_glottolog = df_glottolog.drop(nunique[nunique == 1].index)

nld
eng
ekk
fin
deu
ell
heb
ita
nor
rus
spa
tur

In [5]:
#concat
df = pd.concat([df_uriel, df_glottolog])
df.transpose().to_csv("../data/outputs/linguistic_vectors.csv")

#compute cosine similarity
ls_dict = {}
for l1 in languages:
    ls_dict[l1] = {}
    for l2 in languages:
        ls = spatial.distance.cosine(df[l1], df[l2])
        ls_dict[l1][l2] = ls

df_ls = pd.DataFrame.from_dict(ls_dict).applymap(lambda x: 1 - x)
df_ls.to_csv("../data/outputs/linguistic_similarities.csv")

In [6]:
df

          nld  eng  ekk  fin  deu  ell  heb  ita  nor  rus  spa  tur
0         1.0  1.0  0.8  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  0.0
1         1.0  0.0  0.2  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
2         0.0  0.0  0.2  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
6         1.0  1.0  0.8  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
7         0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  1.0  0.0
...       ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
turk1311  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
comm1245  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
oghu1243  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
nucl1769  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
west2406  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

[189 rows x 12 columns]